/*    index.html    Whole page    */
  body{
  background-color: #F9B5B5;
  }
/*    Navbar CSS    */
  li{
      padding-top: 7px;
  }
 p > strong{
    font-size:25px;
  }
  h1{
    font-size:40px;

  }
  .navbar-toggle { 
        float: left;
  }
#imgsize{
 height: 200px;
  width: 300px;
}
  .navbar-brand { 
    float: right;
    font-size: 35px;
  }
  .btn-link{
    text-align: left;
  }
  .jumbotron h2 {
    margin-top:10px; 
  }
  .jumbotron {
    background: url("../S1_img/huskyhome.jpg") no-repeat top center;
    background-size: cover;
    margin-top:1em;
    padding-top:5em;
    padding-bottom: 5em;
    color: #eeeeee;
  }
  .narrow-results{
    display:block;
  }
  .narrow-Img{
    display:block;
  }
  .mainContainer{
    width: 100%;
    margin:5px;
  }
  #intbtn{background-color: black;
    border-color: #eeeeee;
  }
  #mainBody{
    padding:5px;
  }

/*    brbFirststep.html    Information page    */
  .infoContainer{
    margin:5px;
    text-align: left;
  }
  .gallContainer{
    display:inline-block;
    margin:5px;
    padding:5px;
    text-align: left;
  }
  .narrow-weekOne{
    display:block;
  }
  .narrow-weekTwo{
    display:block;
  }
  .narrow-weekThr{
    display:block;
  }
  .narrow-weekFol{
    display:block;
  }
  .narrow-sup{
    display:block;
  }
  .fsContainer{
    margin:10px;
    text-align: center;
    }
  #imgbtn{
    display:block;
  }
  #pup1 {
    display: inline-flex;
    background: url("../S1_img/Midnight1.jpg") no-repeat top center;
  }
.carousel-caption > a{color:#eeeeee;}
/* brdSupplier.html  Suppliers page*/
  #blockUnit{
    background-color:#f78787;
    padding:2em;
    border-radius: 4px;
    border: 2px solid black;
    height:auto;
    font-size: 15px;
  }
#tLine{
    background-color:#f78787;
    padding:10px;
    border-radius: 4px;
    margin: 5px;
    border: 2px solid black;
    text-align: center;
  }
#buGallery{
    background-color:#f78787;
    padding:10px;
    margin:5px;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 15px;
  }
#baseFrame{
    background-color:#aa3131;
    padding:2px;
    margin:1px;
    border-radius: 7px;
    border: 3px solid black;
  }

.carousel {
margin-top: 77px;
margin-bottom: 0px;
margin: 0 auto;
position: relative;
}

.carousel .item {                 /*Stackoverflow help from Ryan Fishel*/
    background:#F9F9F9;
    border:1px solid #E0E0E0;
    overflow:hidden;
    margin-bottom:1em;
    margin-top:1em;
    padding:5px;
}
.carousel-inner > .item > img {
    border: 1px solid #DDDDDD;
    float: left;
    margin: 0pt 3px;
    padding: 2px;
    height: 500px;
    width:  100%;
}
.carousel-inner > .item > img:hover {
    border: 1px solid #000000;
}
.carousel-indicators {
position: absolute;
bottom: 13;
}

.thumbnail {
  height: 100%;
  background-color:#f78787;
  border: 1px solid #000000; 
}
/*-- Claculator --*/



                /*--Media types below*/
/* Extra small devices (portrait phones, less than 576px)
      /* Portrait and Landscape */
@media screen and (max-width: 576px){
  h3{font-size:25px;}
  .jumbotron {
    background: #000000;
    padding-top:2em;
    padding-bottom:2em;
  }
  .navbar-brand{font-size: 20px;}
  .narrow-results{display:none;}
  .narrow-weekOne{display:none;}
  .narrow-weekTwo{display:none;}
  .narrow-weekThr{display:none;}
  .narrow-weekFol{display:none;}
  .narrow-sup{display:none;}
  .narrow-Img{display:none;}
  .carousel-inner > .item > img {height: 200px;}
  .carousel-indicators {position:relative;
    bottom:-10px;}
  .carousel-caption{
    text-align: left;}
  .carousel-control{
    height: 260px;
    position: absolute;
}
.gallContainer{
    margin:none;
    padding:none;
  }
  #blockUnit{
    padding:1.5em;
    height:50%;
  }
  #buGallery{
    padding:1.5em;
    height: 25%;
  }
  #wkbtn{
      width: 93%;
      margin: auto;
  }  
}

@media screen and (max-device-width: 639px){
  /*and (-webkit-min-device-pixel-ratio: 3){*/
   .jumbotron {
    background: #000000;
    padding-top:1em;
    padding-bottom:1em;
  }
  .navbar-brand{
    font-size: 20px;
  }
  .narrow-results{
    display:none;
  }

  #blockUnit{
    padding:1.5em;
    height:50%;
  }
  h3{
    font-size:25px;
  }
  .narrow-Img{display:none;}
  .narrow-weekOne{
    display:none;
  }
  .narrow-weekTwo{
  display:none;
  }
  .narrow-weekThr{
  display:none;
  }
  .narrow-weekFol{
    display:none;
  }
  .narrow-sup{
    display:none;
  }
  #wkbtn{
      width: 93%;
      margin: auto;
  } 
}


/* Small devices (landscape phones, less than 768px)

      bootstrap col-sm cahanged to 736px
*/
@media screen and (max-width: 736px) and (orientation: landscape) {
.carousel-inner > .item > img {height: 240px;}
.carousel-indicators {bottom:12px;}
.carousel-control{
  margin-top: 15px;
    height: 252px;
}
.jumbotron {
    padding-top:5px;
    padding-bottom:5px;
  }
.jumbotron p {
  font-size: 16px;
}
    .navbar-brand{
    font-size: 149%;
  }
  .narrow-results{
    display:none;
  }
.narrow-weekOne{
    display:none;
  }
  .narrow-weekTwo{
  display:none;
  }
  .narrow-weekThr{
  display:none;
  }
  .narrow-weekFol{
    display:none;
  }
  .narrow-sup{
    display:none;
  }
  .narrow-Img{display:none;}
#blockUnit{
    padding:1.5em;
    height:auto;
  }

}
/* Medium devices (tablets, less than 992px)*/
@media screen and (max-width: 992px) {
  .navbar-brand{
    font-size: 149%;
  }
}


/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) { ... }

