/*    index.html    Whole page    */
  body{
  background-color: #F9B5B5;
  }
/*    Navbar CSS    */
  li{
      padding-top: 7px;
  }
  .navbar-toggle { 
        float: left;
  }
  .navbar-brand { 
    float: right;
    font-size: 35px;
  }
  .btn-link{
    text-align: left;
  }
  .jumbotron h2 {
    margin-top:10px; 
  }
  .jumbotron {
    background: url("../S1_img/huskyhome.jpg") no-repeat top center;
    background-size: cover;
    margin-top:1em;
    padding-top:5em;
    padding-bottom: 5em;
    color: #eeeeee;
  }
  .narrow-results{
    display:block;
  }
  .mainContainer{
    margin:5px;
  }
  #intbtn{background-color: black;
    border-color: #eeeeee;
  }
  #mainBody{
    padding:5px;
  }

/*    brbFirststep.html    Information page    */
  .infoContainer{
    margin:5px;
    text-align: left;
  }
  .narrow-weekOne{
    display:block;
  }
  .narrow-weekTwo{
    display:block;
  }
  .narrow-weekThr{
    display:block;
  }
  .narrow-weekFol{
    display:block;
  }
  .fsContainer{
    margin:10px;
    text-align: center;
    }
  #wkbtn{

  }
  #pup1 {
    display: inline-flex;
    background: url("../S1_img/Midnight1.jpg") no-repeat top center;
  }

/* brdSupplier.html  Suppliers page*/
  #blockUnit{
    background-color:#f78787;
    padding:2em;
    border-radius: 4px;
    border: 2px solid black;
    height:480px;
    font-size: 15px;
  }









                /*--Media types below*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { ... }



/* Small devices (landscape phones, less than 768px)*/
@media screen and (max-width: 767px) {
  .jumbotron {
    background: #000000;
    padding-top:2em;
    padding-bottom:2em;
  }
  .navbar-brand{
    font-size: 20px;
  }
  .narrow-results{
    display:none;
  }
  #blockUnit{
    padding:1.5em;
    height:50%;
  }
  .narrow-weekOne{
    display:none;
  }
  .narrow-weekTwo{
  display:none;
}
  .narrow-weekThr{
  display:none;
  }
  .narrow-weekFol{
    display:none;
  }
  #wkbtn{
      width: 93%;
      margin: auto;
  }  
}



/* Medium devices (tablets, less than 992px)*/
@media screen and (max-width: 991px) {
  .navbar-brand{
    font-size: 149%;
  }
}


/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) { ... }

