body{
  background-color: #F9B5B5;

}
#mainBody{
  padding:5px;
}
.navbar-brand{
  font-size: 30px;
}

.navbar-toggle { 
      float: left;
}
.navbar-brand { 
  float: right;
}
.jumbotron h2 {
  margin-top:10px;
  
}
.jumbotron {
  background: url("../S1_img/huskyhome.jpg") no-repeat top center;
  background-size: cover;
  margin-top:1em;
  padding-top:5em;
  padding-bottom: 5em;
  color: #eeeeee;
}

.dropdown-menu {
  background-color: #222;
  border: none;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
          text-align:top;
}
.dropdown-menu >li>a{
  background-color: #222;
  color: #9d9d9d;
  border: 1px solid #eeeeee;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
          text-align:left;
        }
li{
  padding-top: 7px;
  text-align: center;
}

 









@media screen and (max-width: 768px) {
  .jumbotron {
    background: #000000;
    padding-top:2em;
    padding-bottom:2em;
  }
.navbar-brand{
  font-size: 20px;
}