.slide{
  margin:auto;
}
.rslider {
  display:block;
  margin-top: 20px;
  margin-left: 20px;
}
.rs-container.full{
  margin-top: 20px;
  margin-left: 70px;
}
.rs.control.rs-animation{
  height: 0px;
  width: 220px;
}
div.rs-inner.rs-bg-color{
  background-color: #f58789;
}
div.rs-path-color{
  background-color: #f58789;
}
div.full .rs-tooltip {
    top: 10%;
    left: -5%;
}

div .rs-border  {
    border-width: 0px;
    border: 1px solid #001;
}
/*div.rs-border.rs-outer  {
    border: 14px solid #000;
}*/
div.rs-range-color  {
    background: #a83235;
}
#slider3 .rs-handle  {
    background: black;
    margin-left: 0 !important;
}
.card_para{
  width: 344px;
    /*flex:1 0 auto;*/
    height: 60px;

}
.card{
  flex:1; /* sets equal width to cards*/
  display: flex;  /* make the contents controllable by flexbox*/
  flex-flow:column; /* sets as a column layout*/
  min-width: 240px; 
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
}