#title {
position:relative; /*Makes this a containing element*/
}
#title a {
background: transparent url(/Volumes/Seagate 5TB KH /Stream_One/S_oneFin/S1_img_misc/RawFeedHome.jpg) no-repeat scroll 0 0;
display:block;
text-indent:-9999px; /*Hides the anchor text*/
height:50px; /*Set height and width to the exact size of your image*/
width:200px;
}