
  <div Class="row">
    <div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="tLine">
        <h1>{{calc}}</h1>
      </div>  
      <div Class="row">
          <div class="col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div id="buGallery">
                <h2>Calculator</h2>
            </div>
            <div id="buGallery" Class="row">
                  <div class="col-lg-12">
                    <div class="row">    
                      <div class="col-lg-4">   	
                        <div class="card dAge">
                          <img class="card_image" ng-src="S1_img/Puppy.png" alt="Age Images"/>
                            <div class="card_bottom">
                              <h2 class="card_head">Age...</h2>
                                <p class="card_para">Please Input your Dog's Age in months, If older then one year - choose 13.</p>
                                <button   class="bottom_button1">Reset Age</button> 
                                <div class="slide">  
                              <input  id="slider1" class="rslider"/>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card dAge">
                          <img class="card_image" ng-src="S1_img/dogWeight.png" height="236px" alt="Age Images"/>
                            <div class="card_bottom">
                              <h2 class="card_head">Weight...</h2>
                                <p class="card_para">Please Input your Dog's Weight in (Kg)</p>
                              <button   class="bottom_button2">Reset Weight</button>
                            <input  id="slider2" class="rslider"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card dAge">
                          <img class="card_image" ng-src="S1_img/Puppy.png" alt="Age Images"/>
                            <div class="card_bottom">
                              <h2 class="card_head">Weight...</h2>
                                <p class="card_para">Please Input your Dog's Weight in lbs</p>
                                <button   class="bottom_button3">Reset Age</button>
                              <input  id="slider3" class="rslider"/>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">  
                      
                          
                        <h2>tickslider</h2> 
                        <div class="slidecontainer">
                          <form id="slider4" name="myForm" ng-controller="ctrlController">
                            Model as range: <input type="range" name="range" ng-model="value" ng-min="min" ng-max="max">
                            <hr>
                            Model as number: <input type="number" ng-model="value"><br>
                            Min: <input type="number" ng-model="min"><br>
                            Max: <input type="number" ng-model="max"><br>
                            value = <code>{{value}}</code><br/>
                          </form>
                        </div>
                      </div>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



